.tabs{
  height:218px;
  width:100%;
  background-color:#fff;
}

.tabs h1{
font-weight: 600;
font-size: 45px;
line-height: 55px;
color: #13761E;
margin-top:30px;
margin-bottom:74px;
}

.labour-page h1{
  font-size:32px;
}