.dashboard-wrapper {
  display: flex;
  min-height: 100vh;
  background-color: #fff;
}

.no-padding-left-right {
  padding: 0px 0px;
}

.dashboard-content {
  width: 100%;
  padding-top: 0px;
  min-height: 100vh;
  transition: all 0.3s;
  min-height: 100vh;
  max-height: 100vh;
}

.dashboard-content .header-menu {
  height: 110px;
}
.dashboard-content nav {
  border-bottom: 1px solid #f3f3f3;
}

.dashboard-content .header_logo-with-search .form-group {
  margin-left: 0;
}
.user-photo svg {
  fill: #c4c4c4;
}
