.dashboard-wrapper {
  display: flex;
  min-height: 100vh;
  background-color: #fff;
}

.no-padding-left-right {
  padding: 0px 0px;
}

.dashboard-content {
  width: 100%;
  padding-top: 0px;
  min-height: 100vh;
  transition: all 0.3s;
  min-height: 100vh;
  max-height: 100vh;
}

.dashboard-content .header-menu {
  height: 110px;
}
.dashboard-content nav {
  border-bottom: 1px solid #f3f3f3;
}

.dashboard-content .header_logo-with-search .form-group {
  margin-left: 0;
}
.user-photo svg {
  fill: #c4c4c4;
}

.dashboard-content nav {
  background-color: #1e7b28;
  height: 110px;
  width: 100%;
}
.dashboard-content .nav_menu {
  height: 110px;
  display: flex;
  justify-content: space-between;
}
.nav_menu-logo {
  display: flex;
}
.nav_menu-logo img {
  width: 100px;
  align-self: center;
}
.show-on-mobile {
  display: none;
}
@media (max-width: 480px) {
  .dashboard-content nav,
  .dashboard-content .nav_menu {
    height: 70px;
  }
  .nav_menu-logo img {
    width: 60px;
  }
  .show-on-mobile {
    display: flex;
    align-items: center;
  }
  .show-on-mobile img {
    width: 25px;
  }

  .macro {
    padding-left: 0px;
  }
  .macro h4,
  .firs h4 {
    font-size: 12px;
    line-height: 22px;
    margin-bottom: 20px;
  }
}
