body {
  font-family: "Montserrat", sans-serif;
}

header {
  padding-top: 51px;
}
header h4 {
  font-size: 24px;
  font-weight: bold;
  color: #fff;
}

#welcome-screen {
}
.logo-con img {
  width: 212px;
  padding-top: 81px;
}
.welcome-action {
  margin-top: 200px;
}
.welcome-speach h1 {
  font-size: 52px;
  line-height: 63px;
  color: #00820f;
  margin-top: 200px;
}

.welcome-btn {
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  text-transform: uppercase;
  margin-top: 39px;
  background: #00820f;
  box-shadow: 5px 10px 25px rgba(0, 130, 15, 0.2);
  border-radius: 5px;
  width: 212px;
  display: block;
  padding: 19px 0;
  color: #fff;
}
.logo-action {
  padding-left: 50px;
}

.people-image {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  right: -10px;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 120px;
  background: #ffffff;
}

.header_logo-with-search {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header_logo-with-search img {
  width: 212px;
}
.header_logo-with-search .form-group {
  width: 100%;
  display: flex;
  background: #f2f2f2;
  border-radius: 3px;
  padding: 16px 14px;
  width: 470px;
  margin-left: 78px;
  margin-bottom: 0 !important;
}
.form-group input {
  box-sizing: border-box;
  border: none;
  background: #f2f2f2;
  width: 100%;
}
.form-group input::placeholder {
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  color: #797979;
}
.form-group input:focus {
  outline: none;
}
/** Auth pages **/
.auth-pages {
  width: 100%;
  height: 100vh;
  background-color: #f3f3f3;
}

form input:focus,
form textarea:focus {
  outline: none;
}
form input::placeholder {
  font-size: 18px;
  color: #c4c4c4;
}

.main-menu {
  padding-top: 132px;
  padding: 100px 0;
  background-color: rgba(19, 118, 30, 0.1);
}
.user-short {
  display: flex;
  align-items: center;
}
.user-short p {
  margin-bottom: 0;
  padding: 0px 10px;
}

.user-short .user-photo {
  width: 40px;
}
.user-short .down-arrow {
  width: 20px;
}

.main-menu_card {
  background: #13761e;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 265px;
  cursor: pointer;
}
.main-menu_card h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 21px;
  line-height: 26px;
  color: #ffffff;
  margin-top: 28px;
  text-align: center;
}

/** submenu **/
.submenu {
  margin-top: 10px;
}
.submenu-list {
  height: 72px;
  left: 105px;
  top: 549px;
  background: #ffffff;
  border-radius: 7px;
  border-left: 20px solid #13761e;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  margin-top: 15px;
  text-decoration: none;
}
.submenu-list a {
  text-decoration: none;
}
.submenu-list h4 {
  font-weight: 600;
  font-size: 16px;
  color: #13761e;
  padding-left: 37px;
  text-transform: uppercase;
}
.hidden {
  display: none;
}
.second-menu-list,
.third-menu-list {
  margin-top: 10px;
}
.active-card {
  background-color: #003206;
}


.dashboard-body-wrapper {
  width: 100%;
  background-color: #fff;
}

.height-601 {
  height: 601px;
}

.chart-one, .chart-two, .chart-three, .chart-four, .chart-five{
  margin-top:89px;
}

.chart-card {
  display: flex;
  flex-direction: column;
  padding: 38px;
  align-items: center;
}

.chart-card h4 {
  font-weight: bold !important;
  font-size: 18px !important;
  line-height: 22px !important;
  color: #ac2200 !important;
}


.submenu{
  background-color:#003206;
  padding:67px 0;
}

@media (max-width: 480px) {
  .header-menu {
    height: 60px;
    padding: 0 20px;
  }
  .header_logo-with-search img {
    width: 100px;
  }
  .header_logo-with-search .form-group {
    display: none;
  }
  .user-short .user-photo {
    width: 18px;
  }
  .user-short .down-arrow {
    width: 15px;
  }
  .user-short p {
    font-size: 12px;
  }
  .main-menu{
    padding-top:30px
  }

  .main-menu_card{
    height: 150px;
    padding:20px;
    margin-bottom:10px;
  }
  .main-menu_card svg{
    width:50px;
  }
  .main-menu_card h4{
    font-size:16px;
    margin-top:10px;
  }
}
