.card {
  border-radius: 5px;
  height: 147px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
}
.card h5 {
  font-size: 48px;
  line-height: 59px;
  color: #ffffff;
}

.card p {
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #ffffff;
  margin-top: 10px;
}

.first-card-color {
  background-color: #0ab7a2;
}

.second-card-color {
  background-color: #2d9cdb;
}

.third-card-color {
  background-color: #624af2;
}
.macro{
  padding-left:0px;
}

.macro h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  text-transform: uppercase;
  color: #c4c4c4;
  margin-bottom:54px;
}
